In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import json
import matplotlib.pyplot as plt
from matplotlib import rc

In [13]:
df = pd.read_excel("C:/python/datas/real_estate/단독다가구(매매)_실거래가_20230319003845.xlsx")
df

C:\Users\giokim\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,"□ 신고정보가 실시간 변경, 해제되어 제공시점에 따라 공개건수 및 내용이 상이할 수...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"□ 본 자료는 계약일 기준입니다. (※ 7월 계약, 8월 신고건 → 7월 거래건으로...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"□ 통계자료 활용시에는 수치가 왜곡될 수 있으니 참고자료로만 활용하시기 바라며, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,* 국토교통부 실거래가 공개시스템의 궁금하신 점이나 문의사항은 주택거래신고 1588...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,서울특별시 중랑구 중화동,4**,다가구,8m미만,284.1,184.8,202112,20,"110,000",2000,봉화산로33길,NaN,중개거래,서울 중랑구
507,서울특별시 중랑구 중화동,3**,단독,8m미만,65.75,91.9,202112,18,"54,191",1975,봉화산로4길,NaN,중개거래,서울 중랑구
508,서울특별시 중랑구 중화동,3**,단독,8m미만,149.92,100.5,202112,18,"48,640",1987,중랑천로,NaN,중개거래,서울 중랑구
509,서울특별시 중랑구 중화동,3**,단독,12m미만,263.2,107.8,202112,23,"129,700",1994,동일로139다길,NaN,중개거래,서울 중랑구
510,서울특별시 중랑구 중화동,3**,단독,8m미만,165.86,167.6,202112,7,"117,300",1976,중랑역로,NaN,중개거래,서울 중랑구

In [14]:
df.drop(df.index[0:16], inplace=True)
df

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
16,서울특별시 강남구 논현동,1**,다가구,8m미만,418.32,188.5,202112,22,"530,000",1996,NaN,NaN,중개거래,서울 강남구
17,서울특별시 강남구 논현동,1**,다가구,8m미만,594.34,216.8,202112,17,"360,000",2002,강남대로124길,NaN,중개거래,서울 강남구
18,서울특별시 강남구 논현동,2*,다가구,8m미만,1808.28,584.4,202112,9,"2,000,000",2013,학동로25길,NaN,직거래,-
19,서울특별시 강남구 논현동,2**,단독,8m미만,198.15,182.7,202112,30,"285,000",1987,학동로44길,NaN,중개거래,서울 강남구
20,서울특별시 강남구 논현동,2**,단독,8m미만,198.15,182.7,202112,30,"330,000",1987,학동로44길,NaN,중개거래,서울 강남구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,서울특별시 중랑구 중화동,4**,다가구,8m미만,284.1,184.8,202112,20,"110,000",2000,봉화산로33길,NaN,중개거래,서울 중랑구
507,서울특별시 중랑구 중화동,3**,단독,8m미만,65.75,91.9,202112,18,"54,191",1975,봉화산로4길,NaN,중개거래,서울 중랑구
508,서울특별시 중랑구 중화동,3**,단독,8m미만,149.92,100.5,202112,18,"48,640",1987,중랑천로,NaN,중개거래,서울 중랑구
509,서울특별시 중랑구 중화동,3**,단독,12m미만,263.2,107.8,202112,23,"129,700",1994,동일로139다길,NaN,중개거래,서울 중랑구
510,서울특별시 중랑구 중화동,3**,단독,8m미만,165.86,167.6,202112,7,"117,300",1976,중랑역로,NaN,중개거래,서울 중랑구

In [15]:
df.rename(columns = {'□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.': '시군구', 
                     'Unnamed: 8': '거래금액(만원)'}, inplace=True)

del df['Unnamed: 1']
del df['Unnamed: 2']
del df['Unnamed: 3']
del df['Unnamed: 4']
del df['Unnamed: 5']
del df['Unnamed: 6']
del df['Unnamed: 7']
del df['Unnamed: 9']
del df['Unnamed: 10']
del df['Unnamed: 11']
del df['Unnamed: 12']
del df['Unnamed: 13']
df

               시군구        거래금액(만원)
16   서울특별시 강남구 논현동         530,000
17   서울특별시 강남구 논현동         360,000
18   서울특별시 강남구 논현동       2,000,000
19   서울특별시 강남구 논현동         285,000
20   서울특별시 강남구 논현동         330,000
..             ...             ...
506  서울특별시 중랑구 중화동         110,000
507  서울특별시 중랑구 중화동          54,191
508  서울특별시 중랑구 중화동          48,640
509  서울특별시 중랑구 중화동         129,700
510  서울특별시 중랑구 중화동         117,300

[495 rows x 2 columns]

In [32]:
df2 = pd.read_excel("C:/Users/giokim/Desktop/real_estate/아파트(매매)_실거래가_20230319003633.xlsx")
df2

C:\Users\giokim\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,"□ 신고정보가 실시간 변경, 해제되어 제공시점에 따라 공개건수 및 내용이 상이할 수...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"□ 본 자료는 계약일 기준입니다. (※ 7월 계약, 8월 신고건 → 7월 거래건으로...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"□ 통계자료 활용시에는 수치가 왜곡될 수 있으니 참고자료로만 활용하시기 바라며, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,* 국토교통부 실거래가 공개시스템의 궁금하신 점이나 문의사항은 주택거래신고 1588...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1188,서울특별시 중랑구 신내동,657,0657,0000,신내9진흥,33.18,202112,23,"42,400",15,1996,신내로 127,NaN,중개거래,서울 중랑구
1189,서울특별시 중랑구 중화동,454,0454,0000,동양엔파트2차,84.87,202112,4,"96,000",7,2013,중랑천로14길 34,NaN,중개거래,서울 중랑구
1190,서울특별시 중랑구 중화동,286-22,0286,0022,청원다미소,84.82,202112,4,"77,500",10,2004,동일로136길 10,NaN,중개거래,서울 중랑구
1191,서울특별시 중랑구 중화동,286-22,0286,0022,청원다미소,84.77,202112,31,"69,500",5,2004,동일로136길 10,NaN,중개거래,서울 중랑구
1192,서울특별시 중랑구 중화동,19-3,0019,0003,한솔e(B동),82.65,202112,13,"32,500",3,2004,봉화산로27길 30,NaN,직거래,-

In [33]:
df2.drop(df2.index[0:16], inplace=True)
df2

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
16,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,202112,4,"215,000",3,1987,언주로 3,NaN,중개거래,서울 강남구
17,서울특별시 강남구 개포동,138,0138,0000,디에이치아너힐즈,59.7479,202112,24,"235,000",15,2019,삼성로 11,NaN,중개거래,서울 강남구
18,서울특별시 강남구 개포동,1280,1280,0000,래미안블레스티지,84.94,202112,31,"316,000",16,2019,선릉로 8,NaN,중개거래,서울 강남구
19,서울특별시 강남구 개포동,12,0012,0000,삼익대청아파트,39.53,202112,11,"150,000",4,1992,개포로109길 21,NaN,중개거래,서울 강남구
20,서울특별시 강남구 개포동,653,0653,0000,현대1차101동~106동,177.19,202112,9,"355,000",6,1984,개포로 303,NaN,중개거래,"경기 안양만안구, 서울 강남구"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1188,서울특별시 중랑구 신내동,657,0657,0000,신내9진흥,33.18,202112,23,"42,400",15,1996,신내로 127,NaN,중개거래,서울 중랑구
1189,서울특별시 중랑구 중화동,454,0454,0000,동양엔파트2차,84.87,202112,4,"96,000",7,2013,중랑천로14길 34,NaN,중개거래,서울 중랑구
1190,서울특별시 중랑구 중화동,286-22,0286,0022,청원다미소,84.82,202112,4,"77,500",10,2004,동일로136길 10,NaN,중개거래,서울 중랑구
1191,서울특별시 중랑구 중화동,286-22,0286,0022,청원다미소,84.77,202112,31,"69,500",5,2004,동일로136길 10,NaN,중개거래,서울 중랑구
1192,서울특별시 중랑구 중화동,19-3,0019,0003,한솔e(B동),82.65,202112,13,"32,500",3,2004,봉화산로27길 30,NaN,직거래,-

In [34]:
df2.rename(columns = {'□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.': '시군구', 
                     'Unnamed: 8': '거래금액(만원)'}, inplace=True)

del df2['Unnamed: 1']
del df2['Unnamed: 2']
del df2['Unnamed: 3']
del df2['Unnamed: 4']
del df2['Unnamed: 5']
del df2['Unnamed: 6']
del df2['Unnamed: 7']
del df2['Unnamed: 9']
del df2['Unnamed: 10']
del df2['Unnamed: 11']
del df2['Unnamed: 12']
del df2['Unnamed: 13']
del df2['Unnamed: 14']
df2

                시군구        거래금액(만원)
16    서울특별시 강남구 개포동         215,000
17    서울특별시 강남구 개포동         235,000
18    서울특별시 강남구 개포동         316,000
19    서울특별시 강남구 개포동         150,000
20    서울특별시 강남구 개포동         355,000
...             ...             ...
1188  서울특별시 중랑구 신내동          42,400
1189  서울특별시 중랑구 중화동          96,000
1190  서울특별시 중랑구 중화동          77,500
1191  서울특별시 중랑구 중화동          69,500
1192  서울특별시 중랑구 중화동          32,500

[1177 rows x 2 columns]

In [56]:
df3 = pd.read_excel("C:/Users/giokim/Desktop/real_estate/연립다세대(매매)_실거래가_20230319003731.xlsx")
df3

C:\Users\giokim\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,"□ 신고정보가 실시간 변경, 해제되어 제공시점에 따라 공개건수 및 내용이 상이할 수...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"□ 본 자료는 계약일 기준입니다. (※ 7월 계약, 8월 신고건 → 7월 거래건으로...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"□ 통계자료 활용시에는 수치가 왜곡될 수 있으니 참고자료로만 활용하시기 바라며, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,* 국토교통부 실거래가 공개시스템의 궁금하신 점이나 문의사항은 주택거래신고 1588...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3604,서울특별시 중랑구 중화동,309-24,0309,0024,예성베스트,46.68,28.79,202112,4,"37,500",5,2018,봉화산로3길 56-12,NaN,중개거래,서울 중랑구
3605,서울특별시 중랑구 중화동,306-11,0306,0011,우승정원빌리지,29.98,20.09,202112,25,"23,000",2,2017,봉화산로15길 25,NaN,중개거래,서울 중랑구
3606,서울특별시 중랑구 중화동,309-109,0309,0109,제일연립B동,58.45,46.9,202112,8,"30,000",1,1977,동일로139다길 15,NaN,중개거래,서울 중랑구
3607,서울특별시 중랑구 중화동,309-109,0309,0109,제일연립B동,48.43,47.2,202112,27,"21,000",2,1977,동일로139다길 15,NaN,중개거래,서울 중랑구
3608,서울특별시 중랑구 중화동,90-7,0090,0007,킨즈빌,29.92,19.9,202112,21,"32,000",2,2021,봉화산로27길 15,NaN,직거래,-

In [57]:
df3.drop(df3.index[0:16], inplace=True)
df3

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
16,서울특별시 강남구 개포동,1187-8,1187,0008,1187-8,59.84,37.79,202112,11,"75,000",2,2015,논현로8길 17,NaN,중개거래,서울 강남구
17,서울특별시 강남구 개포동,1218-12,1218,0012,1218-12,27.04,16.31,202112,1,"42,500",3,2019,개포로24길 32,NaN,중개거래,서울 강남구
18,서울특별시 강남구 개포동,1218-12,1218,0012,1218-12,27.04,16.31,202112,5,"42,000",3,2019,개포로24길 32,NaN,중개거래,"경기 수원영통구, 서울 강남구"
19,서울특별시 강남구 개포동,1218-12,1218,0012,1218-12,27.15,16.38,202112,5,"42,500",3,2019,개포로24길 32,NaN,중개거래,"경기 수원영통구, 서울 강남구"
20,서울특별시 강남구 개포동,1218-12,1218,0012,1218-12,27.15,16.38,202112,6,"42,700",3,2019,개포로24길 32,NaN,중개거래,서울 서초구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3604,서울특별시 중랑구 중화동,309-24,0309,0024,예성베스트,46.68,28.79,202112,4,"37,500",5,2018,봉화산로3길 56-12,NaN,중개거래,서울 중랑구
3605,서울특별시 중랑구 중화동,306-11,0306,0011,우승정원빌리지,29.98,20.09,202112,25,"23,000",2,2017,봉화산로15길 25,NaN,중개거래,서울 중랑구
3606,서울특별시 중랑구 중화동,309-109,0309,0109,제일연립B동,58.45,46.9,202112,8,"30,000",1,1977,동일로139다길 15,NaN,중개거래,서울 중랑구
3607,서울특별시 중랑구 중화동,309-109,0309,0109,제일연립B동,48.43,47.2,202112,27,"21,000",2,1977,동일로139다길 15,NaN,중개거래,서울 중랑구
3608,서울특별시 중랑구 중화동,90-7,0090,0007,킨즈빌,29.92,19.9,202112,21,"32,000",2,2021,봉화산로27길 15,NaN,직거래,-

In [58]:
df3.rename(columns = {'□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.': '시군구', 
                     'Unnamed: 9': '거래금액(만원)'}, inplace=True)

del df3['Unnamed: 1']
del df3['Unnamed: 2']
del df3['Unnamed: 3']
del df3['Unnamed: 4']
del df3['Unnamed: 5']
del df3['Unnamed: 6']
del df3['Unnamed: 7']
del df3['Unnamed: 8']
del df3['Unnamed: 10']
del df3['Unnamed: 11']
del df3['Unnamed: 12']
del df3['Unnamed: 13']
del df3['Unnamed: 14']
del df3['Unnamed: 15']
df3

                시군구        거래금액(만원)
16    서울특별시 강남구 개포동          75,000
17    서울특별시 강남구 개포동          42,500
18    서울특별시 강남구 개포동          42,000
19    서울특별시 강남구 개포동          42,500
20    서울특별시 강남구 개포동          42,700
...             ...             ...
3604  서울특별시 중랑구 중화동          37,500
3605  서울특별시 중랑구 중화동          23,000
3606  서울특별시 중랑구 중화동          30,000
3607  서울특별시 중랑구 중화동          21,000
3608  서울특별시 중랑구 중화동          32,000

[3593 rows x 2 columns]

In [68]:
df4 = pd.read_excel("C:/Users/giokim/Desktop/real_estate/오피스텔(매매)_실거래가_20230319.xlsx")
df4

C:\Users\giokim\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,"□ 신고정보가 실시간 변경, 해제되어 제공시점에 따라 공개건수 및 내용이 상이할 수...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"□ 본 자료는 계약일 기준입니다. (※ 7월 계약, 8월 신고건 → 7월 거래건으로...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"□ 통계자료 활용시에는 수치가 왜곡될 수 있으니 참고자료로만 활용하시기 바라며, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,* 국토교통부 실거래가 공개시스템의 궁금하신 점이나 문의사항은 주택거래신고 1588...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1883,서울특별시 중랑구 망우동,495,495,0,한일써너스빌리젠시 2단지,59.63,202112,18,"38,500",18,2008,용마산로115길 109,NaN,중개거래,서울 중랑구
1884,서울특별시 중랑구 망우동,508-2,508,2,효성 써너스빌 에코,18.5,202112,29,"11,000",6,2016,망우로60길 37,NaN,중개거래,서울 중랑구
1885,서울특별시 중랑구 상봉동,104-33,104,33,블리스 다임빌,29.95,202112,23,"31,300",4,2021,면목로92가길 15-11,NaN,직거래,-
1886,서울특별시 중랑구 상봉동,81-5,81,5,한일써너스빌,42.04,202112,27,"23,300",25,2003,망우로 346,NaN,중개거래,서울 중랑구
1887,서울특별시 중랑구 신내동,386-1,386,1,베네스트로프트(BENEST LOFT),27.79,202112,13,"26,500",18,2021,용마산로 640,NaN,중개거래,서울 중랑구

In [69]:
df4.drop(df4.index[0:16], inplace=True)
df4

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
16,서울특별시 강남구 개포동,1194-1,1194,1,런던빌 개포,46.47,202112,13,"69,500",7,2021,논현로 48,20220120,직거래,-
17,서울특별시 강남구 개포동,186-13,186,13,메트하임,22,202112,30,"33,000",13,2018,개포로 504,NaN,중개거래,서울 강남구
18,서울특별시 강남구 논현동,96,96,0,\t(96)\t,22.05,202112,16,"16,300",4,1987,도산대로46길 11,NaN,중개거래,서울 강남구
19,서울특별시 강남구 논현동,241-3,241,3,강남구청역 에스케이 허브 블루,69.32,202112,16,"63,400",14,2005,학동로 342,NaN,직거래,-
20,서울특별시 강남구 대치동,889-56,889,56,더 나인 오피스텔,29.97,202112,18,"20,000",5,2004,테헤란로64길 14,NaN,중개거래,서울 강남구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1883,서울특별시 중랑구 망우동,495,495,0,한일써너스빌리젠시 2단지,59.63,202112,18,"38,500",18,2008,용마산로115길 109,NaN,중개거래,서울 중랑구
1884,서울특별시 중랑구 망우동,508-2,508,2,효성 써너스빌 에코,18.5,202112,29,"11,000",6,2016,망우로60길 37,NaN,중개거래,서울 중랑구
1885,서울특별시 중랑구 상봉동,104-33,104,33,블리스 다임빌,29.95,202112,23,"31,300",4,2021,면목로92가길 15-11,NaN,직거래,-
1886,서울특별시 중랑구 상봉동,81-5,81,5,한일써너스빌,42.04,202112,27,"23,300",25,2003,망우로 346,NaN,중개거래,서울 중랑구
1887,서울특별시 중랑구 신내동,386-1,386,1,베네스트로프트(BENEST LOFT),27.79,202112,13,"26,500",18,2021,용마산로 640,NaN,중개거래,서울 중랑구

In [70]:
df4.rename(columns = {'□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.': '시군구', 
                     'Unnamed: 8': '거래금액(만원)'}, inplace=True)

del df4['Unnamed: 1']
del df4['Unnamed: 2']
del df4['Unnamed: 3']
del df4['Unnamed: 4']
del df4['Unnamed: 5']
del df4['Unnamed: 6']
del df4['Unnamed: 7']
del df4['Unnamed: 9']
del df4['Unnamed: 10']
del df4['Unnamed: 11']
del df4['Unnamed: 12']
del df4['Unnamed: 13']
del df4['Unnamed: 14']
df4

                시군구        거래금액(만원)
16    서울특별시 강남구 개포동          69,500
17    서울특별시 강남구 개포동          33,000
18    서울특별시 강남구 논현동          16,300
19    서울특별시 강남구 논현동          63,400
20    서울특별시 강남구 대치동          20,000
...             ...             ...
1883  서울특별시 중랑구 망우동          38,500
1884  서울특별시 중랑구 망우동          11,000
1885  서울특별시 중랑구 상봉동          31,300
1886  서울특별시 중랑구 상봉동          23,300
1887  서울특별시 중랑구 신내동          26,500

[1872 rows x 2 columns]